* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* height: 100vh; */
    /* overflow: scroll; */
    align-content: flex-start;
}

body::before {
    content: "";
    background: url('../image/Abstract\ HD\ Wallpaper\ \(48\).jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

nav {
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    background-color: #007bff;
    /* opacity: 0.9; */
    overflow: hidden;
    margin: 0px 0px;
    width: 100%;
    height: 10vh;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    overflow: hidden;
    width: 70%;
    align-items: center;
}

nav li {
    display: flex;
    height: 100%;
    width: 11%;
    align-items: center;
    justify-content: center;
}

nav li a {
    display: flex;
    color: white;
    text-decoration: none;
    width: 80%;
    height: 60%;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 23px;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

nav label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    width: 10%;
}

nav li a:hover {
    background-color: white;
    color: black;

}

#formlogin {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

select {
    font-size: 85%;
    height: 60%;
    width: 80%;
    border-radius: 23px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 1s;
}

nav ul li form select:hover {
    background-color: white;
    color: black;
}

select option:disabled {
    display: none;
}

select option {
    color: white;
    background-color: #007bff;

}

.icon {
    width: 10%;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icon img {
    height: 33px;
    width: 43px;
}


.callnow {
    /* position: absolute;
    top: 10vh;
    left: 0px; */
    width: 100%;
    height: 7vh;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    opacity: 0.7;
}

.imagecontainer_main {
    width: 100%;
    height: 64vh;
}

.imagecontainer_main img {
    width: 100%;
    height: 100%;
}

.firstcard {
    width: 100%;
    height: 83vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-family: math;
}

.headerdiv {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.headerdiv_icon {
    width: 20%;
    height: 35vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    border-bottom: 2px solid white;
}

.headerdiv_icon img {
    width: 80%;
    height: 70%;
}

.headerdiv_name {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
    border-bottom: 2px solid white;
}

.headerdiv_name h1 {
    font-size: 3.3rem;
}

.headerdiv_content {
    width: 100%;
    height: fit-content;
    padding: 10px;
}

.secondcard,
.department_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 85%;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 60vh;
    box-shadow: 0px 10px 10px 10px gray;
    padding: 10px;
}

.department_cards {
    height: 75vh;
}

.secondcard_image-size {
    width: 30%;
    height: 100%;
}

.secondcard_text {
    display: flex;
    width: 66%;
    text-align: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.secondcard_text2 {
    text-align: left;
    margin-top: 10px;
}

.Aboutus_text {
    display: flex;
    width: 66%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.Aboutus_text2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.department_menu {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
}

.department_menu a {
    width: 50%;
    display: block;
    border: 1px solid;
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.secondcard_text h4 {
    margin-top: 20px;
}

.secondcard_image-size img {
    width: 100%;
    height: 100%;
}

.contactus {
    margin-top: 35px;
    height: fit-content;
    display: flex;
    width: 85%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    /* border: 1px solid; */
    box-shadow: 0px 10px 10px 10px gray;
}

.contactheading {
    font-size: 20px;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.contactform,
form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

/* .contactform form {
    width: 100%;
} */

.contactpersonal {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
}

.contactpersonal label,
.contactmessage label {
    margin-bottom: 3px;
}

.contactpersonal input {
    margin-bottom: 13px;
    width: 60%;
    font-size: 16px;
    outline: none;
    padding: 5px;
}

.contactmessage {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;

}

.contactmessage textarea {
    resize: none;
    padding: 5px;
    outline: none;
    font-family: 'Arial';
    font-size: 16px;

    width: 60%;
    height: 60%;
}

.contactbtn {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 10vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.submit_contact {
    height: 50%;
    width: 20%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 18px;
}

.department_heading {
    display: flex;
    width: 100%;
    height: 15vh;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.department_content {
    /* border: 1px solid; */
    width: 70%;
    padding: 5px 80px;
    height: 100%;
    line-height: 30px;
    font-size: 17px;
}

.deparment_secondary_card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 57vh;
}

.secondlast {
    width: 100%;
    height: 5vh;
    background-color: gray;
    margin-top: 10vh;
}

.secondlast a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.pagefooter {
    display: flex;
    width: 100%;
    height: 50vh;
    /* border: 1px solid; */
    background-color: black;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pagefooterbox1,
.pagefooterbox2 {
    width: 40%;
    /* border: 1px solid; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#general,
#neurology {
    flex-direction: row-reverse;
}



@media only screen and (max-width: 900px) {
    .icon {
        width: 35%;
        height: 50%;
    }

    body::before {
        height: 122vh;
    }

    nav {
        justify-content: center;
        height: 15vh;
    }

    nav ul {
        height: 50%;
        width: 100%;
    }

    nav li {
        width: 25%;
    }

    nav label {
        width: 45%;
        height: 50%;
    }
    nav ul li form select {
      height: 90%;
    }
    .imagecontainer_main {
        height: 64vh;
    }

    .headerdiv_icon {
        width: 100%;
        height: 30vh;
        border: none;
    }

    .headerdiv_icon img {
        width: 50%;
    }

    .headerdiv_name {
        width: 100%;
        align-content: center;
        border: none;
    }

    .headerdiv_name p {
        text-align: center;
    }

    .headerdiv {
        width: 100%;
    }

    .firstcard {
        width: 95%;
        height: 100vh;
    }

    .headerdiv_content {
        margin-top: 10px;
    }

    .secondcard,
    .department_cards,

    .contactus {
        width: 95%;
        height: fit-content;
    }

    .secondcard_image-size {
        width: 100%;
        /* width: 100%; */
    }

    .secondcard_image-size img {
        width: 100%;
        height: 100%;
    }

    .secondcard_text,
    .Aboutus_text,
    .deparment_secondary_card,
    .contactpersonal,
    .contactmessage {
        width: 100%;
        text-align: center;
        padding: 20px;
        height: fit-content;
    }

    .submit_contact {
        width: 50%;
    }

    .contactpersonal input,
    .contactmessage textarea {
        width: 80%;
    }

    .contactmessage textarea {
        height: 120px;
    }

    .department_menu a {
        width: 100%;
    }

    .department_content {
        text-align: justify;
        width: 100%;
        padding: 5px;
        font-size: 1rem;
    }

    .pagefooter {
        height: fit-content;
    }

    .pagefooterbox1,
    .pagefooterbox2 {
        width: 90%;
        height: fit-content;
        justify-content: center;
        padding: 30px 0px;
    }

    .callnow {
        font-size: 15px;
    }

    .department_menu {
        width: 100%;
    }
}