body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../image/bg9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#patientbody{
    height: 100vh;
    align-content: flex-start;
}
nav {
    width: 100%;
}

.heading {
    width: 100%;
}


.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
}

.menupatient {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  justify-content: center;
}

.showpaneflex {
    width: 83%;
    border-left: 2px solid black;
    overflow-y: scroll;
    height: 78vh;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 100%; */
}

.showpaneflex::-webkit-scrollbar {
    display: none;
}

.patienttable {
    box-shadow: 0px 19px 15px 15px grey;
    background-color: white;
    padding: 9px 0px;
    font-size: 18px;
    border-radius: 7px;
    width: 80%;
    border: 1px solid black;
    display: flex;
    margin: 5px;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
}

.patientdata {

    width: 100%;
    /* height: 100%; */
    /* border: 4px solid red; */
    /* padding: 10px; */
    display: grid;
    grid-template-columns: 30% 70%;
    /* flex-wrap: wrap; */
}

.patientdatabox {
    width: 60%;
    overflow: scroll;
}

.patientdatabox::-webkit-scrollbar {
    display: none;
}

.prescriptiontable {
    width: 100%;
}

.prescriptionbox1 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.prescriptionbox2 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.patientaction {
    width: 30%;
    /* height: 100%; */
    /* border: 4px solid blue; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
}

.dataheading {
    /* width: 40%; */
    padding: 5px;
    font-weight: bold;
    /* text-align: right; */
}

.data {
    /* width: 60%; */
    padding: 5px;
}

.book_appointment_main_container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.book_appointment_second_container {
    width: 50%;
}

.book_appointment_second_container select option:disabled {
    display: none;
}

.bookdata {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
}

.bookdataheading {
    /* text-align: center; */
    width: 50%;
    font-weight: bold;
    padding-left: 5px;
}

.bookdataoption {
    /* text-align: center; */
    width: 50%;
}

.bookdataoption select {
    height: 30px;
    width: 80%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.bookdataoption input {
    height: 30px;
    width: 80%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.bookdataoption input:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}


.book_appointment_btn {
    width: 60%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(to right, #aa076b, #61045f);
}

.book_appointment_btn:hover {
    background-image: linear-gradient(to right, #61045f, #aa076b);
}

.go_back_btn {
    width: 60%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(to right, #aa076b, #61045f);
    align-self: center;
}

.go_back_btn:hover {
    background-image: linear-gradient(to right, #61045f, #aa076b);
}

.warning {
    width: 100%;
    text-align: center;
    color: red;
    padding: 12px;
}

form {
  display: contents;
    width: 100%;
}
#go{
  display:block;
}
.ok_btn{
width:60%;
}

@media only screen and (max-width:500px) {
    .menupatient {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
    }
  .view{
    width: 98%;
  }
    .showpaneflex {
        width: 100%;
        border: none;
        height: fit-content;
        padding-left: 0px;
    }

    .patienttable {
        width: 100%;
    /*  height:90vh */
    }

    .patientdata {
        width: 100%;
        grid-template-columns: 50% 50%;
    }

    .patientdatabox,
    .prescriptionbox2 {
        width: 95%;
    }

    .patientaction {
        width: 100%;
    }

    .imagesize {
        width: 30%;
        height: 30%;
    }

    .book_appointment_main_container {
        height: 100vh;
        width: 100%;
    }

    .bookdataheading {
        width: 100%;
        text-align: center;
    }

    .bookdataoption {
        text-align: center;
        width: 90%;
        border-bottom: 2px solid gray;
        padding-bottom: 7px;
    }
    #go_back_btn{
        width: 100%;
    }




}