* {
  margin: 0;
  padding: 0;
}

.patient_login_body{
  background: url(../image/bg12.jpg) no-repeat center center fixed;
  background-size: cover;
}


.doctor_login_body{
  background: url(../image/bg16.jpg) no-repeat center center fixed;
  background-size: cover;
}

.admin_login_body{
  background: url(../image/bg9.jpg) no-repeat center center fixed;
  background-size: cover;
}

.container {
  /* border: 12px solid black; */
  
  position: absolute;
  top: 21%;
  left: 40%;
}

.container h1{
  color: rgb(24, 7, 100);
  font-size: 30px;
  /* border-bottom: 5px solid white; */
  margin-bottom: 84px;
  padding: 21px 52px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box{
  /* border: 2px solid greenyellow; */
  /* width: 100%; */
  border-bottom: 2px solid black;
  margin: 26px 19px;
    padding: 5px 10px;
}
.box input{
  border: none;
  width: 100%;
  outline: none;
  margin: 0px 0px;
  padding: 0px 0px;
  font-size: 18px;
  background: none;
  color: rgb(24, 7, 100);
}

.btn{
  cursor: pointer;
  outline: none;
  margin: 12px 100px;
  padding: 12px 23px;
  border-radius: 8px;
  border: none;
  border: 2px solid black;
  font-weight: bold;
  background: none;
  /* background-color: deepskyblue; */
}

.btn:hover{
  background-color: white;
  opacity: 0.5;
}
.box input::placeholder{
  color: rgb(24, 7, 100);
}