@page {
    size: A4;
    margin: 0;
    /* background-image: url("image/bg7.jpg");
            background-repeat: no-repeat;
    */
}
/* body{
    background-image: url("image/bg7.jpg");
            background-repeat: no-repeat;
} */

.btn {
    display: none;
    visibility: none;
}

.container{
    height: 29cm;
}